.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 45px;
}

.about__title {
  margin: 82px 0 93px 0;

  font-size: 36px;
  line-height: 44px;
  color: $darkColor;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $darkColor;
  text-align: center;
}