.beach {
  height: 487px;
}

.beach:before {
  content: " ";
  display: block;
  position: relative;
  min-height: 435px;
  width: 3px;
  left: 0;
  right: 0;

  background-color: $darkColor;
}

.beach__content {
  min-height: 449px;
  margin-bottom: -5px;
}

.beach__title {
  letter-spacing: -0.01em;
}

