.booking {
  margin-top: -600px;
}

.booking__text {
  max-width: 698.24px;

  text-align: left;
  color: white;
}

.booking__text p {
  margin: 0;
}

.booking__text--intro {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 61px;
}

.booking__text--header {
  font-family: Adobe Garamond Pro, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 154px;
  line-height: 185px;
  letter-spacing: 0.07em;
}

.booking__text--subheader {
  font-family: Adobe Garamond Pro, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.4em;
}

.booking__text--description {
  max-width: 580px;

  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
}