.booking {
  margin-top: -749px;
}

.booking__invitation {
  max-width: 698.24px;

  text-align: left;
  color: white;
}

.booking__invitation p {
  margin: 0;
}

.booking__action {
  padding: 108px 0 80px 0;
}

.booking__button {
  width: 268px;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 32px;
  margin: 0 auto;
}

.booking__scroll {
  margin: 0 auto;
}