.btn {
  box-sizing: border-box;
  display: block;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background-color: $accentColor;
  border: 0;
  border-radius: 10px 10px 10px 10px;
}

.btn--small {
  text-transform: none;
}