.explore {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 100%;

  margin-bottom: 69px;
}

.explore__pic {
  width: 866px;
  height: 100%;

  background: $darkColor;
  overflow: hidden;
}

.explore__pic img {
  opacity: 0.8;
}

.explore__description {
  width: 605px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: -25px 50px 0 48.5px;

  box-sizing: border-box;
  padding: 0 55px 0 0;
}

.explore__description p,
.explore__btn {
  margin: 0;
}

.explore__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -10px;
}

.explore__title {
  font-family: Adobe Garamond Pro, serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
}

.explore__text {
  font-size: 25px;
  line-height: 40px;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: $darkColor;
}

.explore__btn {
  width: 236px;
  padding: 20px 32px;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}