.explore {
  max-width: 1521px;
  max-height: 579px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.explore__pic {
  width: 933px;
  height: 579px;

  background: $darkColor;
  overflow: hidden;
}

.explore__pic img {
  object-fit: cover;
  opacity: 0.8;
}

.explore__description {
  width: 662.5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  box-sizing: border-box;
  padding: 0 99px 0 0;
}

.explore__description:before {
  content: " ";
  display: block;
  position: absolute;
  height: 334px;
  width: 2px;
  left: 0;
  right: 0;
  margin-left: 464px;

  background-color: $darkColor;
}

.explore__description p,
.explore__btn {
  margin: 0;
}

.explore__content {
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.explore__title {
  margin-top: -26px;

  font-family: Adobe Garamond Pro, serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.02em;
}

.explore__text {
  font-size: 25px;
  line-height: 40px;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: $darkColor;
}

.explore__btn {
  width: 236px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}