.facilities__header {
  width: 1540px;
  margin: 0 auto;

  text-align: center;
}

.facilities__title {
  margin: 78px 0 34px 0;
  text-align: center;
}

.facilities__intro {
  margin: 0;

  font-size: 25px;
  line-height: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $darkColor;
}