.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 101px;
  width: 255px;
  margin-left: 134px;

  font-size: 16px;
  line-height: 20px;
  color: #F7F7F7;

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
}