.logo {
  width: 256px;
  height: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px 0 30px;

  background-color: $accentColor;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 4px 3px 0 rgba(20, 39, 74, 0.25);
}

.logo__text {
  margin: 0;

  font-family: Adobe Garamond Pro, serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: $darkColor;
}

.logo__text--big {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.logo__text--small {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.6em;
}