.menu-list {
  min-width: 699.79px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-list__item {
  //max-width: 138px;
  margin: 0 4px;
  list-style: none;
}

.menu-list__item a {
  cursor: pointer;
  display: block;

  font-size: 25px;
  line-height: 30px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}