.rooms {
  height: 579px;
}

.rooms__content {
  min-height: 350px;
  margin-bottom: -5px;
}

.rooms:before {
  content: " ";
  display: block;
  position: relative;
  min-height: 335px;
  width: 3px;
  left: 0;
  right: 0;

  background-color: $darkColor;
}
