.section-title {
  font-family: "Adobe-garamond-pro", serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;

  text-align: center;
  letter-spacing: 0.05vw;
  text-transform: uppercase;

  color: $darkColor;
}