.section-title {
  font-family: "Adobe-garamond-pro", serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $darkColor;
}