.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 86px;
}

.socials__sign {
  font-size: 16px;
  line-height: 194.9%;
  color: #F7F7F7;

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
}