.subscribe {
  width: 360px;
  min-height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 16px;
  line-height: 20px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
}

.subscribe__text {
  margin: 0;
}

.subscribe__btn {
  width: 80px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: $darkColor;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $darkColor;
  text-transform: uppercase;

  background-color: $accentColor;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.subscribe__input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
}